{{ include('header.html.twig') }}
{{ include('headerForm.html.twig') }}

<form method="post" class="ui form">
  {% if header.id > 0 %}
    <form method="post" class="ui form">
      <span style="position: fixed; top: 20px; z-index: 999; margin-left: 800px; display: flex;">
        <a href="{{ base_path() }}/tickets/new">
          <button class="ui labeled icon button" type="button">
            <i class="plus icon"></i>Nouveau
          </button>
        </a>
        <button
          class="ui labeled icon primary button"
          type="submit"
        >
          <i class="save icon"></i>
          {{ translation.savebutton }}
        </button>
      </span>
  {% else %}
    <span style="position: fixed; top: 20px; z-index: 999; margin-left: 800px; display: flex;">
      <button
        class="ui labeled icon primary button"
        name="save"
        value="new"
        type="submit"
      >
        <i class="save icon"></i>Nouveau
      </button>
      <button
        class="ui labeled icon primary button"
        name="save"
        value="view"
        type="submit"
      >
        <i class="save icon"></i>Voir
      </button>
    </span>
  {% endif %}

  <div class="ui internally celled grid">
    <div class="row">
      <div class="height wide column">
        {% for item in data.fields %}
          {% if item.name != 'comment' %}
            {{ include('fields.html.twig') }}
          {% endif %}
        {% endfor %}
      </div>
      <div class="height wide column">
        {# infos top #}
        {% if information.top|length > 0 %}
          <div class="ui form blue segment">
            <div class="field">
              <label style="text-transform: uppercase;">
                <span class="ui blue text">
                  Informations
                </span>
              </label>
              {% for key, item_top in information.top %}
                  <p>
                    {{ item_top.value }}
                    <a href="{{ item_top.link }}"><i class="external alternate icon"></i></a>
                  </p>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% for item in data.fields %}
          {% if item.name == 'comment' %}
            {{ include('fields.html.twig') }}
          {% endif %}
        {% endfor %}

        {# infos bottom #}
        {% if information.bottom|length > 0 %}
          <div class="ui form blue segment">
            <div class="field">
              <label style="text-transform: uppercase;">
                <span class="ui blue text">
                  Informations
                </span>
              </label>
              {% for key, item_bottom in information.bottom %}
                <p>
                  {{ item_bottom.value }}
                  <a href="{{ item_bottom.link }}"><i class="external alternate icon"></i></a>
                </p>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</form>

{{ include('footer.html.twig') }}
