{{ include('header.html.twig') }}
{{ include('headerForm.html.twig') }}

<form method="post" class="ui form">
  <button class="ui button right floated" type="submit">{{ translation.savebutton }}</button>
  <div class="ui internally celled grid">
    <div class="row">
      <div class="height wide column">
        {% for item in data.fields %}
          {% if item.name != 'comment' %}
            {{ include('fields.html.twig') }}
          {% endif %}
        {% endfor %}
      </div>
      <div class="height wide column">
        {# infos top #}
        {% if information.top|length > 0 %}
          <div class="ui form blue segment">
            <div class="field">
              <label style="text-transform: uppercase;">
                <span class="ui blue text">
                  Informations
                </span>
              </label>
              {% for key, item_top in information.top %}
                  <p>
                    {{ item_top.value }}
                    <a href="{{ item_top.link }}"><i class="external alternate icon"></i></a>
                  </p>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% for item in data.fields %}
          {% if item.name == 'comment' %}
          <div class="field">
            <label>{{ item.title }}</label>
              <div id="editor{{ item.name }}">{{ item.value }}</div>
              <textarea rows="3" name="{{ item.name }}" {% if item.readonly is defined %}readonly="{{ item.readonly }}"{% endif %}  style="display: none">{{ item.value }}</textarea>
<script type="text/javascript">
editor{{ item.name }} = new toastui.Editor({
el: document.querySelector('#editor{{ item.name }}'),
initialEditType: 'markdown',
previewStyle: 'vertical',
initialEditType: 'wysiwyg',
events: {
blur: () => {
document.querySelector(`textarea[name='{{ item.name }}']`).value = editor{{ item.name }};
},
},
});
</script>
            </div>
          {% endif %}
        {% endfor %}

        {# infos bottom #}
        {% if information.bottom|length > 0 %}
          <div class="ui form blue segment">
            <div class="field">
              <label style="text-transform: uppercase;">
                <span class="ui blue text">
                  Informations
                </span>
              </label>
              {% for key, item_bottom in information.bottom %}
                <p>
                  {{ item_bottom.value }}
                  <a href="{{ item_bottom.link }}"><i class="external alternate icon"></i></a>
                </p>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <button class="ui button right floated" type="submit">{{ translation.savebutton }}</button>
</form>

{{ include('footer.html.twig') }}
