{{ include('header.html.twig') }}
{{ include('headerForm.html.twig') }}

  {% if header.id == 0 %}
  <form method="post" class="ui form">
  {% endif %}
  <div class="ui internally celled grid">
    <div class="row">
      <div class="twelve wide column">
        <form class="ui form {{ header.color }} segment">
          <a class="ui {{ header.color }} ribbon label" style="text-transform: capitalize" data-value="contentdescription">
            {{ translation.description }}
          </a>
          <div name="contentdescription" class="field" style="display: block">
            <div class="itilcontent">
              {% if header.id > 0 %}
                {{ data.content | raw }}
              {% else %}
                <div id="editorcontent"></div>
                <textarea rows="3" name="content" style="display: none"></textarea>
              <script type="text/javascript">
editorcontent = new toastui.Editor({
  el: document.querySelector('#editorcontent'),
  initialEditType: 'markdown',
  previewStyle: 'vertical',
  initialEditType: 'wysiwyg',
  height: '200px',
  minHeight: '200px',
  events: {
    blur: () => {
      document.querySelector(`textarea[name='content']`).value = editorcontent.getMarkdown();
    },
  },
});
              </script>
              {% endif %}
            </div>
          </div>
        </form>
        <!-- Tabs: followup, solutions -->
        {% if header.id > 0 %}
          <div class="ui secondary menu tabsystem">
            <a class="{{ header.color }} item active" data-tab="feeds">{{ translation.feeds }}</a>
            <a class="yellow item" data-tab="followup">{{ translation.followup }}</a>
            <a class="blue item" data-tab="solution">{{ translation.solution }}</a>
          </div>
        {% endif %}
        <div class="ui {{ header.color }} tab segment" data-tab="feeds">
          <!-- Feeds -->
          <div class="ui connected feed">
            {% for feed in data.feeds %}
              <div class="event">
                <div class="label">
                  {% if feed.type == 'event' %}
                    <i class="circular colored inverted exchange alternate brown icon"></i>
                  {% elseif feed.usertype == 'tech' %}
                    <i class="circular colored inverted headset olive icon"></i>
                  {% else %}
                    <i class="circular colored inverted user blue icon"></i>
                  {% endif %}
                  <!-- <img src="/images/avatar/small/elliot.jpg"> -->
                </div>
                <div class="content">
                  <div class="summary">
                    <a class="user">
                      {{ feed.user }}
                    </a> {{ feed.summary | raw }}
                    <div class="date">
                      {{ feed.date }}
                    </div>
                  </div>
                  {% if not feed.content is null %}
                    <div class="extra text">
                      {{ feed.content | raw }}
                    </div>
                  {% endif %}
                  {% if not feed.time is null %}
                    <div class="meta">
                      <a class="like">
                        {{ translation.timespent }}: {{ feed.time }} {{ translation.seconds }}
                      </a>
                    </div>
                    {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="ui active tab yellow segment" data-tab="followup">
          {% if header.id > 0 %}
          <form method="post" action="{{ current_url() }}/followups" class="ui form">
          {% endif %}
            <div class="ui grid">
              <div class="eleven wide column">
                <div id="editorfollowup"></div>
                <textarea rows="3" name="followup" style="display: none"></textarea>
<script type="text/javascript">
editorfollowup = new toastui.Editor({
  el: document.querySelector('#editorfollowup'),
  initialEditType: 'markdown',
  previewStyle: 'vertical',
  initialEditType: 'wysiwyg',
  height: '200px',
  minHeight: '200px',
  events: {
    blur: () => {
      document.querySelector(`textarea[name='followup']`).value = editorfollowup.getMarkdown();
    },
  },
});
</script>
              </div>
              <div class="five wide column">
                <div class="field">
                  <label>{{ translation.template }}</label>
                  <select name="template">
                  </select>
                </div>

                <div class="field">
                  <label>{{ translation.private }}</label>
                  <div class="ui fitted mini toggle checkbox">
                    <input type="checkbox" name="private"> <label></label>
                  </div>
                </div>

                <div class="field">
                  <label>{{ translation.sourcefollow }}</label>
                  <select name="source">
                  </select>
                </div>
              </div>
            </div>
            <div class="ui grid">
              <div class="five wide column">
                <div class="field">
                  <label>{{ translation.category }}</label>
                  <select name="category">
                  </select>
                </div>
                <div class="field">
                  <label>{{ translation.status }}</label>
                  <select name="status">
                  </select>
                </div>
              </div>
              <div class="five wide column">
                <div class="field" style="width: 100px;margin-left: auto;margin-right: auto;">
                  <label>{{ translation.duration }}</label>
                  <div class="ui right labeled input">
                    <input type="number" name="time"  min="0">
                    <div class="ui grey inverted label">
                      <div class="ui labeled dropdown button">
                        <input type="hidden" name="timetype">
                        <i class="dropdown icon"></i>
                        <div class="default text">{{ translation.seconds }}</div>
                        <div class="menu">
                          <div class="item" data-value="seconds">{{ translation.seconds }}</div>
                          <div class="item" data-value="minutes">{{ translation.minutes }}</div>
                          <div class="item" data-value="hours">{{ translation.hours }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="six wide column">
                <div class="field">
                  <label>{{ translation.user }}</label>
                  <select name="user">
                  </select>
                </div>
                <div class="field">
                  <label>{{ translation.group }}</label>
                  <select name="group">
                  </select>
                </div>
              </div>
            </div>
            <div style="text-align: center;">
              <input type="hidden" name="item_id" value="{{ header.id }}"/>
              <input type="hidden" name="item_type" value="App\Models\Ticket"/>
              <input type="hidden" name="redirect" value="{{ get_uri() }}"/>
              <button class="ui primary button" type="submit">{{ translation.addfollowup }}</button>
            </div>
          {% if header.id > 0 %}
          </form>
          {% endif %}
        </div>
        <div class="ui tab segment" data-tab="solution">
          TODO
        </div>


      </div>
      <div class="four wide column" style="padding-top: 0px;">
        {% if header.id > 0 %}
          <form method="post" class="ui form">
            <span style="position: sticky; top: 20px; z-index: 999; float: reight; display: block;">
              <a href="{{ base_path() }}/tickets/new">
                <button class="ui labeled icon button" type="button">
                  <i class="plus icon"></i>Nouveau
                </button>
              </a>
              <button
                class="ui labeled icon primary button"
                type="submit"
              >
                <i class="save icon"></i>
                {{ translation.savebutton }}
              </button>
            </span>
        {% else %}
          <span style="position: sticky; top: 20px; z-index: 999; float: reight; display: block;">
            <button
              class="ui labeled icon primary button"
              name="save"
              value="new"
              type="submit"
            >
              <i class="save icon"></i>Nouveau
            </button>
            <button
              class="ui labeled icon primary button"
              name="save"
              value="view"
              type="submit"
            >
              <i class="save icon"></i>Voir
            </button>
          </span>
        {% endif %}
          {% set displaygroup = '' %}
        {% for item in data.fields %}
          {% if item.name != 'content' %}
            {% if displaygroup != '' and displaygroup != item.displaygroup %}
                </div>
              </div>
            {% endif %}

            {% if displaygroup == '' or displaygroup != item.displaygroup %}
            <div class="ui form {{ header.color }} segment">
              <a class="ui {{ header.color }} right ribbon label" style="text-transform: capitalize" data-value="{{ item.displaygroup }}">
                {{ item.displaygroup }}
              </a>
              <div name="{{ item.displaygroup }}" class="field" style="display: block">
            {% endif %}
            {% set displaygroup = item.displaygroup %}
            {{ include('fields.html.twig') }}
          {% endif %}
        {% endfor %}
        </div>
      </div>
      {% if header.id > 0 %}
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% if header.id == 0 %}
</form>
{% endif %}

<script>
toggle = function() {

  // selector cache
  var
    $buttons = $('.ribbon'),
    // alias
    handler = {
      activate: function() {
        $panel = $(this).attr('data-value');
        console.log($panel);
        if ($('[name="'+$panel+'"]').css('display') == 'block') {
          $('[name="'+$panel+'"]').css('display', 'none');
          $(this).removeClass('{{ header.color }}').addClass('grey');
          $(this).parent().removeClass('{{ header.color }}').addClass('grey');
        } else {
          $('[name="'+$panel+'"]').css('display', 'block');
          $(this).removeClass('grey').addClass('{{ header.color }}');
          $(this).parent().removeClass('grey').addClass('{{ header.color }}');
        }
        console.log('test1');
      }
    };

  $buttons
    .on('click', handler.activate);
};

$(document)
  .ready(toggle);

</script>

{{ include('footer.html.twig') }}
