{{ include('header.html.twig') }}
{{ include('headerForm.html.twig') }}

<form method="post" class="ui form">
  <button class="ui button right floated" type="submit">{{ translation.savebutton }}</button>
  <div class="ui internally celled grid">
    <div class="row">
      <div class="height wide column">
        {% for item in data.fields %}
          {% if item.name != 'comment' %}
            {{ include('fields.html.twig') }}
          {% endif %}
        {% endfor %}
      </div>
      <div class="height wide column">
        {{ data.operatingsystem.name }}
        {{ data.operatingsystem.architecture }}
        {{ data.operatingsystem.version }}
        {{ data.operatingsystem.servicepack }}
        {{ data.operatingsystem.kernelversion }}
        {{ data.operatingsystem.edition }}
        {{ data.operatingsystem.licensenumber }}
        {{ data.operatingsystem.licenseid }}
      </div>
    </div>
  </div>
  <button class="ui button right floated" type="submit">{{ translation.savebutton }}</button>
</form>

{{ include('footer.html.twig') }}
