{{ include('header.html.twig') }}
{{ include('headerForm.html.twig') }}

<table class="ui blue table">
  <thead>
    <tr>
      <th>{{ translation.section }}</th>
      <th>{{ translation.nb_questions }}</th>
    </tr>
  </thead>
  <tbody>
    {% for section in data.sections %}
      <tr>
        <td><a>{{ section.name }}</a></td>
        <td><a>{{ section.questions_count }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{{ include('footer.html.twig') }}
